<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>捕鱼达人</string>
		<key>icon</key>
		<string>http://p19.qhimg.com/dr/48_48_/t0101e2931181bb540d.png</string>
		<key>downLoad</key>
		<string>100万</string>
	</dict>
</array>
</plist>
